@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center card pb-3">
    <h1 class="display-4">Welcome</h1>
    <p>Story guardian is a tool for World Building fanatics who love organization.</p>
</div>
